{% extends 'base.html.twig' %}

{% block title %}Pandemic{% endblock %}

{% block body %}

<h1 class="text-center font-weight-lighter">Ajoutez un Pays</h1>

<div class="container col-3 text-center mt-5 p-5 shadow-lg rounded">
    <div class="col-8 ml-5">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <button class="btn btn-mdb-color mt-3">Créer</button>
            {{ form_end(form) }}

    </div>
</div>

{% endblock %}