{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col">

            <table class="table">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Le pays</th>
                        <th>contaminés</th>
                        <th>guéris</th>
                        <th>Zombifiés</th>
                    </tr>
                </thead>

                <tbody>

                    {% for country in countries %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td>
                            {{ country.name }}
                            <a href="{{ path("country_show", {country: country.id}) }}">Voir</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>
</div>
{% endblock %}
