{% extends 'base.html.twig' %}

{% block title %}Ajoutez des stats{% endblock %}

{% block body %}

<h1 class="text-center font-weight-lighter mt-5">Ajoutez une stat</h1>
<div class="d-flex container text-center col-3 mt-5 p-5 shadow-lg rounded">
    <div class="row p-5 mt-2">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-white shadow-lg mt-3">Ajoutez</button>
            {{ form_end(form) }}
    </div>
</div>
{% endblock %}